{% if collection.handle == 'all' %}
  <meta name="keywords" content="boxco, room direct, frigidaire, compact refrigerator, mini fridge, dorm essentials, haier, tower fan, digital safe, fan" />
{% endif %}

<div id="collection">
  {% paginate collection.products by settings.pagination_limit %}

  <div class="row title">
    <div class="span12"  >
      <h1>{{ collection.title }}</h1>
    </div> <!-- /.span12 -->
  </div> <!-- /.row -->
  
  {% if collection.description != "" %}
  <div class="row">
    <div class="span12">
      {{ collection.description }}
    </div> <!-- /.span12 -->
  </div> <!-- /.row -->
  {% endif %}
  
  {% if settings.collection_tags and collection.all_tags.size > 0 %}
  <div class="row">
    <div class="span12">
      <div class="tags">
        <ul class="clearfix">
          <li{% unless current_tags %} class="active"{% endunless %}><a href="/collections/{{ collection.handle }}">All</a>
          {% for tag in collection.all_tags %}
          {% if current_tags contains tag %}
          <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
          {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div> <!-- /.tags -->
    </div> <!-- /.span12 -->
  </div> <!-- /.row -->
  {% endif %}
  
  {% if collection.products.size == 0 %}
  <div class="row">
    <div class="span12 expanded-message">
      <h2>We are not currently selling any products. If you have questions or concerns please <a style = "color: #D1254a;"href = "/pages/contact-us">Contact Us</a></h2>
    </div> <!-- /.span12 -->
  </div> <!-- /.row -->
  {% endif %}
  
  <div class="row products masonry" >
    {% for product in collection.products limit: settings.pagination_limit %}
    {% include 'product-loop' with collection.handle %}
    {% endfor %}
  </div> <!-- /.row -->
  
  {% include 'pagination' %}

  {% endpaginate %}
</div> <!-- /#collection -->
  <p>*RezEssentials reserves the right to substitute an equal and similar model for every product</p>