{% if page.handle == 'about-us' %}
  <meta name="keywords" content="boxco, room direct, lakefill, northwestern, dorm, northwestern housing, northwestern student holdings, shikhar, melking, cyffka, huber," />
{% endif %}

{% if page.handle == 'faqs' %}
<div id="page" class="row" style = "width:950px; margin-bottom:35px;">
  <div class"details">
    <table style = "border-bottom: 1px solid #dfdfdf;margin-top:10px;">
      <tr style = "border:none;">
        <td style = "border:none;margin-bottom:0;padding:0;">
        <h1 style = "width:385px;margin-top:20px;color:#3D474A;font-size:36px; padding-bottom:5px">{{ page.title }}</h1>
      </td>
        
        <td style = "border:none;margin-bottom:0;">
          <a style = "font-size:14px;font-weight: bold;color:#3D474A;" href = "#ordering"><u>Ordering</u></a>
      </td>
         <td style = "border:none;margin-bottom:0;">
           <a style = "font-size:14px;font-weight: bold; color:#3D474A;" href = "#products"><u>Products &amp; Warranty</u></a>
      </td>
         <td style = "border:none;margin-bottom:0;">
           <a style = "font-size:14px;font-weight: bold; color:#3D474A;" href = "#delivery"><u>Delivery &amp; Shipping</u></a>
      </td>
        <td style = "border:none;margin-bottom:0;">
          <a style = "font-size:14px;font-weight: bold;color:#3D474A;" href = "#about"><u>About RezEssentials</u></a>
      </td>
         
    </tr>
    </table>
    <img style = "margin-top:20px;"src = {{'faq-header.png'|asset_url}} />
    <div style = "width:850px;background-color:#fff;padding-top:40px;">
      <h2 style = color:#D1254a;font-size:30px;>Note: Our policies regarding Free BoxCo. Summer Storage and RoomDirect Delivery have changed</h2>
      <h3 style = "font-size:24px;">Ordering</h3>
      <ul style = "">
      <a href = "#1"><li>Can I order RezEssentials before I choose housing? And how will RezEssentials know where I will be living?
</li></a>
      <a href = "#2"><li>How do I include my room assignment?</li></a>
      <a href = "#3"><li>How do I find out about my room assignment? 
</li></a>
      <a href = "#4"><li>When is the last possible date I can order? Can I buy from you guys when I come to school? 
</li></a>
      <a href = "#5"><li>What if I get to campus and realize I need another RezEssentials item? 
</li></a>
        <a href = "#6"><li style = "padding-bottom:25px;">Do you offer storage for the summer? 
        </li></a></ul>
            <h3 style = "font-size:24px;">Products &amp; Warranty</h3>
      <ul>
        <a href = "#7"><li><strong>Rental</strong>: Can I rent your items instead of purchasing? I don’t want to have to store my items over the next summer! 
</li></a>
      <a href = "#8"><li>What happens if something breaks?
</li></a>
      <a href = "#9"><li>Where do you get your items? 
</li></a>
      <a href = "#10"><li style = "padding-bottom:25px;">What’s your return policy? Do you offer refunds or warranties?
</li></a>
        </ul>
     <h3 style = "font-size:24px;">Delivery &amp; Shipping</h3>
      <ul>
	 <a href = "#11"><li>Is delivery directly to my room before I arrive on campus free?
</li></a>      
      <a href = "#12"><li>What is RoomDirect™ Delivery?
</li></a>
        <a href = "#13"><li>Do other retailers also deliver <strong><i>directly</i></strong> to my room? 
</li></a>
      <a href = "#14"><li>When do my items get delivered?
</li></a>
      <a href = "#15"><li style = "padding-bottom:25px;">Does any other company offer delivery direct to my room?
</li></a>
      </ul>
           <h3 style = "font-size:24px;">About RezEssentials</h3>
      <ul>
      <a href = "#16"><li>What is RezEssentials’ relationship with Northwestern University?
</li></a>
      <a href = "#17"><li>What is Northwestern Student Holdings?
</li></a>
      </ul>
    
    </div>
    
     <div style = "width:800px;"> 
       {{page.content}}
    </div>
  </div> <!-- /.span12 -->
</div> <!-- /#page.row -->



{% elsif page.handle == 'about-us' %}
    
    <div id="page" class="row" style = "width:950px; margin-bottom:35px;">
  <div class"details">
    <table style = "border-bottom: 1px solid #dfdfdf;margin-top:10px;">
      <tr style = "border:none;">
        <td style = "border:none;margin-bottom:0;padding:0;">
        <h1 style = "width:290px;margin-top:20px;color:#3D474A;font-size:36px; padding-bottom:5px">{{ page.title }}</h1>
      </td>
        <td style = "border:none;margin-bottom:0;">
          <a style = "font-size:14px;font-weight: bold;color:#3D474A;" href = "#ourstory"><u>Our Story</u></a>
      </td>
        <td style = "border:none;margin-bottom:0;">
           <a style = "font-size:14px;font-weight: bold; color:#3D474A;" href = "#company"><u>The Company</u></a>
      </td>
        <td style = "border:none;margin-bottom:0;">
          <a style = "font-size:14px;font-weight: bold;color:#3D474A;" href = "#ourdiff"><u>Our Difference</u></a>
      </td>
         <td style = "border:none;margin-bottom:0;">
           <a style = "font-size:14px;font-weight: bold; color:#3D474A;" href = "#ourft"><u>Our Team</u></a>
      </td>
        <!--<td style = "border:none;margin-bottom:0;">
           <a style = "font-size:14px;font-weight: bold; color:#3D474A;" href = "#ambassador"><u>Become a RezAmbassador</u></a>
      </td> -->
    </tr>
    </table>
    <img style = "margin-top:20px;" src = {{'abtus_header.png'|asset_url}} />
        <a name = "ourstory"></a>

    <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">Our Story</h2>
    <p style = "font-size:14px;height:63px;width:950px">At RezEssentials, we believe in starting college off on the right foot. The beginning of your Northwestern journey should be about the new friends and experiences you will soon make. It should not be about figuring out how to get a fridge up three flights of stairs or spending multiple days finding a comfy beanbag chair for your room.</p>
    <p style = "font-size:14px;height:42px;width:950px">We were in your shoes at one point. The move-in process was unnecessarily stressful and detracted from the first-year experience. We’ll take care of your room supplies so that you can start freshman year off right.</p>
    <p style = "font-size:14px;width:950px;font-weight:700;font-size:16px; color:#5814BE;">Go 'Cats!</p>
    <a name = "company"></a>
    <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">The Company</h2>
    <p style = "font-size: 14px">RezEssentials is a part of Northwestern Student Holdings (NSH), the only student holdings enterprise at Northwestern. NSH comprises seven different student-run companies that serve Northwestern and the greater community: BoxCo., Project Cookie, AirHop, NU|Tutors, Wildcat Express Delivery (WED), AdWorks and RezEssentials. These companies employ more than 50 Northwestern students and had revenues exceeding $250,000 last year. NSH members get real-world entrepreneurial experience, learn key business skills and work in exciting and fast-paced environments. </p>
    
    <p style = "font-size:14px">Northwestern’s Farley Center for Entrepreneurship and Innovation provides funding and advising for NSH. 
</p>
    <p style = "font-size:14px">Northwestern Student Holdings: <a href = "http://www.northwesternstudentholdings.com/"> http://www.northwesternstudentholdings.com/ </a>
</p>

    <a name = "ourdiff"></a>

    <h2 style = "margin-top:35px;margin-bottom:15px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">Our Difference</h2>
    <table style = "border:none;">
      <tr style = "border:none;">
        <td style ="border:none;">
          <img src = {{'NU_seal.png'|asset_url}}/>
        </td>
        <td style = "border:none;">
          <p style = "font-weight:bold;font-size:16px;">Owned by Northwestern University, run by the students.</p>
          <p style = "font-size:14px;height:36px;width:821px"> No other company has the same trust from the university and care from the students. As a part of <a style = color:#384144; href = "http://www.northwesternstudentholdings.com" target = "blank"><u>Northwestern Student Holdings</u></a>, we get unwavering support from the administration and endless commitment from the dedicated student members. </p>
        </td>
      </tr>  
      <tr style = "border:none">
        <td style ="border:none;">
          <img src = {{'wildcat_paw.png'|asset_url}}/>
        </td>
        <td style = "border:none;">
          <p style = width:600px;height:20px;font-weight:bold;font-size:16px;>Convenient pickup on campus during Wildcat Welcome Week</p>
          <p style = font-size:14px;height:40px;width:821px;>
            RezEssentials will have tents in North and South campus during Wildcat Welcome Week where you can order and pickup your room essentials. We have made it super convenient for
            you so you don't have to run around Chicago looking for a fridge or futon. Check out our How it Works page to learn more!
          </p> 
        </td>
       <!-- <td style = "border:none;">
          <p style = width:600px;height:20px;font-weight:bold;font-size:16px;>RoomDirect&trade; delivery: Items in your room before you arrive </p>
          <p style = font-size:14px;height:40px;width:821px;>
            Others deliver to campus - we go the extra mile (or the extra four flights of stairs in this case) and get it into your room before you arrive on campus. Order with us, and your items will be magically in your room when you open your door on Move-In day. 
          </p> 
        </td>
-->
      </tr>
      <tr style = border:none>
        <td style = border:none;padding-top:0;>
          <a href = "http://www.nuboxco.com"><img style = "margin-bottom:90px;" src = {{'BoxCo.png'|asset_url}}/></a>
        </td>
        <td style = border:none>
          <p style = width:600px;height:20px;font-weight:bold;font-size:16px;>Free summer storage in 2014 with <a style = color:#384144; href = "http://www.nuboxco.com" target = "blank"><u>BoxCo.</u></a>* </p>
          <p style = font-size:14px;height:100px;width:821px;>
With the purchase of any of our fridges and a payment by cash or check at our tents, we also throw in one free summer of storage with BoxCo., which is another Northwestern Student Holdings company that is owned by Northwestern. With BoxCo. summer storage, you don’t have to worry about selling your fridge or taking it home. BoxCo. will come and pick it up directly from your room at the end of spring quarter and drop it off at directly to your new room before you move in next fall. That’s what we call Storage made Simple!
</p>
<p style = font-size:14px;width:821px;><strong>How it works: </strong> We will email you a promo code to use with BoxCo. that will provide your free fridge storage for your fridge, a $33 value!      
          </p >    

          <p style = font-size:10px;width:821px;height:14px;>
            *Registration fee and any charges for other items stored with BoxCo. are not included. </p>
         </td>
      </tr>
  <!--    <tr>
        <td style = border:none>
          <img src = {{'Rezruler.png'|asset_url}}/>
        </td>
        <td style = border:none>
         <p style = width:600px;height:20px;font-weight:bold;font-size:16px;>Guaranteed to fit in a Northwestern dorm room.* </p>
          <p style = font-size:14px;height:28px;width:821px;>
            Buy a fridge with us, and don't worry about where to store it next summer. All our fridges include include free storage (a $33 value) in Evanston over the next summer.</p>
          <p style = font-size:10px;width:821px;height:14px;>
            *Registration fee and any charges for other items stored with BoxCo. are not included. </p> 
        <td>
      </tr>   -->
    </table>
    <a name = "ourft"></a>

    <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">Our Team</h2>
    <table style = border:none;border-collapse:separate>
      <tr>
        <td style = border:none;width:466px;height:314px;background-color:#F2F2F2>
          <table style = border:none;>
            <tr>
              <td style = "padding:none;border:none;">
          <img style = "padding-left:15px;" src = {{'Jay.png'|asset_url}}/>
              </td>
              <td style = "border:none;padding-right:25px;">
                <h1 style = "color:#1B91DF;font-size:24px;">Jay Chung</h1>
                <p style = "color:#D74262;font-size:16px;"><i>Chief Executive Officer</i></p>
                <p style = ""><b>Major:</b> Industrial Engineering</p>
                <p style = ""><b>Hometown:</b> Seoul, South Korea </p>
                <p style = ""><b>Favorite Northwestern Spot:</b> North beach
              </td>
            </tr>
          </table>
          <p style = "width:350px;margin-left:15px;margin-right:15px;">
             Jay is a junior from Seoul, South Korea, majoring in Industrial Engineering. Jay joined NSH in the spring of his freshman year, as a member of EccoLiving before joining the founding team of RezEssentials in the winter this year. Prior to launch this summer, Jay overlooked the external operations and worked with suppliers, and he will also be a part of the fall operations team in September.
          </p>
          <p style= "margin-left:15px;margin-bottom:35px;"> Email Jay: <a href="mailto:jay@rezessentials.com">jay@rezessentials.com</a></p>
           
        </td>
    <!--    <td style = border:none;width:466px;height:314px;background-color:#F2F2F2>
           <table style = border:none;>
            <tr>
              <td style = border:none;padding-right:20px;>
                <img style = "padding-left:15px;padding-bottom:16px;" src = {{'Wendy.png'|asset_url}}/>
              </td>
              <td style = "border:none">
                <h1 style = "color:#1B91DF;font-size:24px;">Wendy Cyffka</h1>
                <p style = "color:#D74262;font-size:16px;"><i>Chief Executive Officer</i></p>
                <p style = ""><b>Major:</b> Math &amp; History</p>
                <p style = ""><b>Hometown:</b> Calabasas, CA </p>
                <p style = ""><b>Favorite Northwestern Spot:</b> Shakespeare Garden
              </td>
            </tr>
          </table>
          <p style = "width:350px;margin-left:15px;margin-right:15px;">
            Wendy is a junior Math and History major from Calabasas, CA.  She joined Northwestern Student Holdings in the fall of her freshman year and worked in various capacities before helping to writing the business plan and overseeing the launch of RezEssentials last spring and summer.  Her main responsibilities on the team have been coordination with Northwestern University administration and BoxCo., and assembling the RezEssentials team. 

          </p>
          <p style= "margin-left:15px;"> Email Wendy: <a  href="mailto:wendy@rezessentials.com">wendy@rezessentials.com</a></p>

        </td> -->
        
        <td style = border:none;width:5px;height:314px;background-color:#fff;></td>
        <td style = border:none;width:466px;height:314px;background-color:#F2F2F2>
          <table style = border:none;>
            <tr>
              <td style = border:none;>
          <img style = "padding-left:15px;" src = {{'Oskar.png'|asset_url}}/>
              </td>
              <td style = "border:none;padding-right:55px;">
                <h1 style = "color:#1B91DF;font-size:24px;">Oskar Melking</h1>
                <p style = "color:#D74262;font-size:16px;"><i>Chief Operating Officer</i></p>
                <p style = ""><b>Major:</b> Comm.Studies &amp; Economics</p>
                <p style = ""><b>Hometown:</b> Helsingborg, Sweden </p>
                <p style = ""><b>Favorite Northwestern Spot:</b> Lake Fill
              </td>
            </tr>
          </table>
          
          <p style = "width:350px;margin-left:15px;margin-right:15px;">
Oskar came to Northwestern in 2011 all the way from Helsingborg, Sweden to study Economics and Communication Studies. He joined Northwestern Student Holdings in the fall of his freshman year and did marketing for various NSH companies before joining the NSH Executive team in April 2013. As COO of RezEssentials, Oskar has been leading the internal planning, the marketing and the website development, as well as assisting Wendy with University relations.

          </p>
          <p style= "margin-left:15px;"> Email Oskar: <a href="mailto:oskar@rezessentials.com">oskar@rezessentials.com</a></p>

          
        </td>
        
      </tr>
      
      <tr style = padding:0;>
        <td style = border:none;width:466px;height:0;padding:10px>
        </td>
        <td style = border:none;width:10px;height:0px;padding:5px>
        </td>
        <td style = border:none;width:466px;height:0px;padding:10px>
        </td>
      </tr>
      
      
      <tr>
        <td style = border:none;width:466px;height:314px;background-color:#F2F2F2>
          <table style = border:none;>
            <tr>
              <td style = border:none;>
          <img style = "padding-left:15px;" src = {{'Shikhar.png'|asset_url}}/>
              </td>
              <td style = "border:none">
                <h1 style = "color:#1B91DF;font-size:24px;">Shikhar Mohan</h1>
                <p style = "color:#D74262;font-size:16px;"><i>Chief Development Officer </i></p>
                <p style = ""><b>Major:</b> Computer Science</p>
                <p style = ""><b>Hometown:</b> Phoenix, AZ </p>
                <p style = ""><b>Favorite Northwestern Spot:</b> Weinberg Garden
              </td>
            </tr>
          </table>
          <p style = "width:350px;margin-left:15px;margin-right:15px;">
            Shikhar is a sophomore majoring in Computer Science from Phoenix, AZ. He joined NSH at the end of his freshman year as a member of RezEssentials and his main responsibilities are web design and development, product sourcing, and finances.   
          </p>
          <p style= "margin-left:15px;"> Email Shikhar: <a href="mailto:shikhar@rezessentials.com">shikhar@rezessentials.com</a></p>
              
        </td>
        
       
        <td style = border:none;width:5px;height:314px;background-color:#fff;></td>
        
       <td style = border:none;width:466px;height:314px;background-color:#F2F2F2>
          <table style = border:none;>
            <tr>
              <td style = border:none;>
                <img style = "padding-left:15px;" src = {{'James.png'|asset_url}}/>
              </td>
              <td style = "border:none;padding-right:20px;">
                <h1 style = "color:#1B91DF;font-size:24px;">James Huber</h1>
                <p style = "color:#D74262;font-size:16px;"><i>Chief Innovation Officer</i></p>
                <p style = ""><b>Major:</b> Economics &amp; Chinese</p>
                <p style = ""><b>Hometown:</b> Palo Alto, CA </p>
                <p style = ""><b>Favorite Northwestern Spot:</b> Deering Lawn
              </td>
            </tr>
          </table>
          <p style = "margin-left:15px;">
            James is a sophomore majoring in Economics and Chinese from Palo Alto, CA. James joined NSH at the end of his freshman year as a member of RezEssentials and helped with strategic development and the design and layout of the website. He is also overseeing the operations and delivery process in early September. 


          </p> 
          <p style= "margin-left:15px;"> Email James: <a href="mailto:james@rezessentials.com">james@rezessentials.com</a></p>

        </td>
      </tr>
      
      <tr style = padding:0;>
        <td style = border:none;width:466px;height:0;padding:10px>
        </td>
        <td style = border:none;width:10px;height:0px;padding:5px>
        </td>
        <td style = border:none;width:466px;height:0px;padding:10px>
        </td>
      </tr>
      
      <tr>
       <td style = border:none;width:466px;height:314px;background-color:#F2F2F2>
           <table style = border:none;>
            <tr>
              <td>
          <img style = "padding-left:15px;" src = {{'John.png'|asset_url}}/>
              </td>
              <td style = "border:none;padding-right:25px;">
                <h1 style = "color:#1B91DF;font-size:24px;">John Geary</h1>
                <p style = "color:#D74262;font-size:16px;"><i>Director of Internal Operations</i></p>
                <p style = ""><b>Major:</b> Industrial Engineering</p>
                <p style = ""><b>Hometown:</b> Cupertino, CA </p>
                <p style = ""><b>Favorite Northwestern Spot:</b> Tech B Wing
              </td>
            </tr>
          </table>
           <p style = "width:350px;margin-left:15px;margin-right:15px;">
             John is a Junior majoring in Industrial Engineering with a Kellogg Certificate in Managerial Analytics from Cupertino, CA. John joined NSH in the fall of his freshman year as a member of EccoLiving where he became Co-President by the beginning of his Sophomore year. After leaving EccoLiving, John joined the RezEssentials team and worked on internal operations development. 
          </p>
          <p style= "margin-left:15px;"> Email John: <a href="mailto:john@rezessentials.com">john@rezessentials.com</a></p>
           
        </td>
        <td style = border:none;width:5px;height:314px;background-color:#fff;></td>
         
      </tr>
      <tr style = padding:0;>
        <td style = border:none;width:466px;height:0;padding:10px>
        </td>
        <td style = border:none;width:10px;height:0px;padding:5px>
        </td>
        <td style = border:none;width:466px;height:0px;padding:10px>
        </td>
      </tr>
    </table>
 <!--   <a name = "ambassador"></a>
          <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">Become a RezAmbassador - Earn Up to 30% Discounts On Your Order</h2>
    <p style = font-size:14px;>Are you interested in earning up to <strong>30% discounts</strong> on your RezEssentials order? Sign up now to become a RezAmbassador and get huge discounts for spreading the word about RezEssentials to your Northwestern peers. </p>
    <p> </p>
    <p style = "font-size:14px"><strong>More information: </strong><a href = "http://cdn.shopify.com/s/files/1/0233/2095/files/RezAmbassadors.pdf?7023">Read this PDF</a></p>
    <p style = "font-size: 14px;"><strong>Sign up now: </strong><a href = "http://www.rezessentials.com/pages/rezambassadors"> www.rezessentials.com/pages/rezambassadors  </a></p>
    <p style = "font-size: 14px;"><strong>Questions: </strong>email us at<a href = "mailto:ambassadors@rezessentials.com"> ambassadors@rezessentials.com  </a></p>
 -->
      </div> <!-- /.span12 -->
</div> <!-- /#page.row -->
    
{% elsif page.handle == 'how-it-works' %}

<div id="page" class="row" style = "width:950px; margin-bottom:35px;">
  <div class"details">
    <h1 style = "margin-top:20px;color:#3D474A;font-size:36px;border-bottom: 1px solid #dfdfdf; padding-bottom:5px">{{ page.title }}</h1>
    <img style = "padding-top:15px;padding-bottom:25px;"src = {{'deering_header.png'| asset_url}} />
    <p style = "font-size:16px;">Order the essentials you want and have them on-campus for easy pickup during Wildcat Welcome Week. You can either order online and pickup your items on campus or you can order directly from one of our tents during Wildcat Welcome week. Why run around Chicago shopping for a fridge or a futon for your room when you can pick them up at conveniently located tents around campus?</p><p style = "font-size:14px;"> If you have any further questions, don't hesistate to check out our <a style = "color:black;"href = /pages/faqs><u>FAQs</u></a> or contact us through our <a style = "color:black;" href = /pages/contact-us><u>Contact</u></a> page</p>
    <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">1. Order the Essentials</h2>
    <p style = "font-size:16px;">You can either order online or you can order at one of our tents during Wildcat Welcome Week.</p>
    <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">2. Choose Your Preferred Pickup Time &amp; Location</h2>
    <p style = "font-size:16px;">Choose the time and location that you want to pickup your items. If you need to change your pickup time, please email us at <a href = mailto:support@rezessentials.com> support@rezessentials.com</a>.</p>
    <p style = "font-size:16px;">Our tent locations are North Campus (South of Bobb-McCulloch/North of Sargent) and South Campus (Parking lot across the Arch). Unfortunately, we cannot operate during freshman move-in on September 16th. </p>
    <p style = "font-size:16px;"><strong>Tent Operating Hours</strong></p>
    <p style = "font-size:16px;">Tuesday (9/17) <span style = color:#D1245a>12PM - 4PM </span></p>
    <p style = "font-size:16px;">Wednesday (9/18) - Friday (9/20) <span style = color:#D1245a>10AM - 4PM</span> </p>
    
    <table style = "border-collapse:collapse;">
    <tr>
      <td style = border:none;><h3 style = font-size:18px;>South Campus (Tue 9/17 &amp; Thurs 9/19)</h3></td>
      <td style = border:none;><h3> </h3></td>
      <td style = border:none;><h3 style = font-size:18px;>North Campus (Wed 9/18 &amp; Fri 9/20)</h3></td>
        </tr>
      <tr>
        <td style = border:none;><img src = {{'southtent.png'|asset_url}} /></td>
        <td style = border:none;><div style = background-color:#D1254A;height:527px;width:2px;></div></td>
        <td style = border:none;><img src = {{'northtent.png'|asset_url}} /></td>
      </tr>
</table>
        <h2 style = "margin-top:35px;margin-bottom:25px;font-weight:100;color:#D1254A;font-size:30px;letter-spacing:0.5px;">3. Enjoy a Stress-Free Move-In!</h2>
    <p style = font-size:16px;>There's no need to drive around town looking for fridges or futons when you can just pick them up on campus, near your residence hall.</p>
    <!-- <img style = "padding-bottom:0;margin-bottom:0;" src = {{'rezsteps.png'|asset_url}}/>
    <table style = "border-collapse:collapse;">
      <tr>
        <td style = padding:0;border:none;padding-top:0;margin-top:0;background-color:#f0f0f0;>
          <p style = margin:15px;font-weight:700;font-size:16px;>Choose and Order Your Room Essentials</p>
          <p style = margin:15px;>Browse around our shop to see what items you want. Once you find your RezEssentials, add them to your cart!  
          </p>
          <div style = width:222px;height:470px;background-color:#fff></div>
        </td>
        <td style = border:none;padding-top:0;margin-top:0;width:12px;background-color:#fff;>
        </td>
        <td style = padding:0;border:none;padding-top:0;margin-top:0;width:223px;background-color:#f0f0f0;>
         <p style = margin:15px;font-weight:700;font-size:16px;>Enter Your Northwestern Room Assignment</p>

          <p style = margin:15px;>Room selection begins on Wednesday, July 10 and will continue until all freshmen have a room assignment. In order for us to have your RezEssentials in your room on move-in day, we need to know your Northwestern room assignment. When completing your order, please fill in your residence hall assignment and room number before proceeding to checkout. 
          </p>
          <p style = margin:15px;>Don’t worry if you haven’t chosen your room assignment yet; you can still order your RezEssentials. Just choose "N/A", leave the Room Number blank, and proceed to checkout and we will follow up later once you get your housing assignment. 
</p>
          <div style = width:223px;height:115px;background-color:#fff;
        </td>
        <td style = border:none;padding-top:0;margin-top:0;width:12px;background-color:#fff;>
        </td>
        <td style = padding:0;border:none;padding-top:0;margin-top:0;width:222px;background-color:#f0f0f0;>
                    <p style = margin:15px;font-weight:700;font-size:16px;>We Deliver Your Items Right to Your Room Before You Arrive on Campus</p>

          <p style = margin:15px;> While you’re enjoying the last few weeks of summer vacation, the RezEssentials team will be hard at work delivering your orders to your room. Our partnership with Northwestern ensures that we get access to all the residence halls before students arrive on campus. After each order is delivered, we will lock the door so that your RezEssentials are safe and sound while they wait for you to arrive. 
          </p>
          <div style = width:222px;height:230px;background-color:#fff;></div>
        </td>
        <td style = border:none;padding-top:0;margin-top:0;width:12px;background-color:#fff;>
        </td>
        <td style = padding:0;border:none;padding-top:0;margin-top:0;width:217px;background-color:#f0f0f0;>
                              <p style = margin:15px;font-weight:700;font-size:16px;>Enjoy a Stress-Free Move-In Day!</p>

          <p style = margin:15px;>When you arrive on campus on move-in day, don't worry about heavy lifting or finding a big truck for your big room essentials. When you open the room to your door, the items will be magically waiting for you!  </p>
          <div style = width:217px;height:410px;background-color:#fff;></div>
        
        </td>
         
      </tr>
      
      
    </table>
  -->
    
  
  
  </div> <!-- /.span12 -->
</div> <!-- /#page.row -->

      
    


{% else %}

<div id="page" class="row" style = "width:950px; margin-bottom:35px;">
  <div class"details">
    <h1 style = "margin-top:20px;color:#3D474A;font-size:36px;border-bottom: 1px solid #dfdfdf; padding-bottom:5px">{{ page.title }}</h1>
    
    {{ page.content }}
  </div> <!-- /.span12 -->
</div> <!-- /#page.row -->

{%endif%}